
/* For HTML_5+ */

p 
{
	color:red;
	font-style:italic;
	font-size:40;
	text-align:center;
}

body
{
	background-color:black;
}

footer
{
	color:red;
	font-size:20;
	
}
footer span
{
	background-color:darkblue;
}

div 
{
	position:relative;
	left:5px;
	top:550px;
}

.font_1, .font_2, .font_3
{
	color:red;
	font-style:italic;
	font-size:40;
	text-align:center;
	position:relative;
	top:200;
}

.font_1:hover span
{
	background-color:red;
	color:black;
	text-shadow:2px 2px white;
}
.font_2:hover span
{
	background-color:white;
	color:black;
	text-shadow:2px 2px orange;
}
.font_3:hover span
{
	background-color:darkblue;
	color:black;
	text-shadow:2px 2px red;
}